header {
  height: 64px;
  width: 100%;
  font-size: 26px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h2 {
  font-size: 36px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h3 {
  font-size: 28px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h4 {
  font-size: 22px;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

img {
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
}

.logo span {
  font-weight: bold;
}

.menu {
  display: inline-flex;
  padding-right: 24px;
}

.menu span {
  padding-left: 16px;
}

.mobile {
  display: none;
}

.under-header {
  border-left: ridge 1.5px grey;
  border-right: ridge 1.5px grey;
  border-bottom: ridge 1.5px grey;
}

.banner {
  padding: 32px 40px 32px 24px;
}

.info-main {
  padding: 32px 24px 0px 24px;
}

.info-main img {
  padding-bottom: 32px;
}

.info-main h1 {
  padding-bottom: 24px;
}

.info-main-right {
  padding-bottom: 60px;
  border-left: solid 1.5px lightgrey;
}

.info-right-item {
  display: flex;
  flex-direction: row;
}

.orientation {
  padding-top: 16px;
  border-bottom: solid 1.5px lightgrey;
}

.signature {
  padding-top: 36px;
  font-weight: bold;
}

.splash {
  display: flex;
  align-items: center;
}

.splash-practice {
  display: flex;
}

.light-grey {
  background: lightgrey;
}

.guest-lecture {
  background: lightgrey;
}

.latin-learn {
  font-size: 32px;
  padding-bottom: 32px;
}

.splash-right {
  margin-right: 40px;
}

.black-button {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}

.black-button span {
  padding: 8px 0px;
  font-size: 32px;
}

.splash-left {
  width: 60%
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.info-right-item-text {
  justify-content: center;
}

.splash-sub-image {
  width: 35%;
  padding: 16px;
}

.link {
  color: blue;
  font-size: 22px;
}

.padding-8px-bot {
  padding-bottom: 8px;
}

.splash-classes {
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

.classes-header {
  padding: 32px 0px;
  font-size: 48px;
  width: 100%;
  text-align: center;
}

.class {
  padding: 0px 16px;
  width: 30%;
}

.classes-text {
  padding: 16px 24px 24px 16px;
  background: white;
}

.classes-text span {
  padding-bottom: 24px;
}

.courses {
  padding: 8px 0px;
}

.splash-thesis {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 32px 24px
}

.thesis-header {
  padding: 32px 0px;
  font-size: 48px;
  width: 100%;
  text-align: center;
}

.thesis-left {
  width: 60%;
  padding-right: 16px;
}

.thesis-left video {
  padding-bottom: 24px;
}

.thesis-item {
  height: 168px;
}

.thesis-item img {
  width: 35%;
  padding: 16px;
}

.thesis-sub-item {
  justify-content: center;
}

.thesis-sub-item span {
  padding-top: 16px;
}

footer span {
  padding-left: 24px;
}

footer div {
  padding-right: 24px;
}

@media only screen and (max-width: 1100px) {
  .mobile {
    display: block;
  }

  .nobile {
    display: none;
  }

  .greybox {
    height: 180px;
    display: block;
    background-color: grey;
  }

  .mobile-menu {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px;
  }

  .splash-practice {
    justify-content: center;
  }

  .splash-right {
    padding: 32px 12px;
    margin-right: auto;
  }

  .splash-right h1 {
    padding-bottom: 32px;
  }

  .splash-right span {
    padding-bottom: 24px;
  }

  .splash-sub-image {
    width: 100%;
  }

  .info-main-right {
    width: 80%;
    border-left: none;
  }

  .info-right-item {
    flex-direction: column;
  }

  .info-right-item-text {
    padding-left: 32px;
  }

  .orientation {
    border-bottom: none;
  }
  
  .guest-lecture {
    background: none;
  }

  .splash-classes {
    background: none;
  }

  .classes-header {
    padding: 32px 0px 24px 0px;
  }

  .mobile-classes {
    display: flex;
    flex-direction: column;
  }
  
  .mobile-class {
    padding: 16px;
    margin: 8px 16px 0px 16px;
    background: lightgrey;
  }

  .splash-thesis {
    padding: 0px 0px 24px 0px;
  }

  .thesis-left {
    width: 100%;
    padding-right: 0px;
  }

  footer {
    justify-content: center;
    padding: 16px 0px;
  }
}